.dialog-pane {
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 12px;
    -fx-text-fill: #061742;
}

.dialog-pane .header-panel .label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;

}

.dialog-pane .content.label {
    -fx-font-size: 12px;
}

.dialog-pane .button {
     -fx-background-color: #061742;
     -fx-text-fill: #d1dbe4;
     -fx-font-size: 14px;
     -fx-font-weight: bold;
     -fx-background-radius: 20;
 }

.dialog-pane .button:hover {
    -fx-background-color: #194a7a;
}

.dialog-pane .button:pressed {
    -fx-background-color: #d1dbe4;
}
