.chart-pie .default-color0 { -fx-pie-color: #2ecc71; }
.chart-pie .default-color1 { -fx-pie-color: #3498db; }
.chart-pie .default-color2 { -fx-pie-color: #e74c3c; }
.chart-pie .default-color3 { -fx-pie-color: #f1c40f; }
.chart-pie .default-color4 { -fx-pie-color: #9b59b6; }
.chart-pie .default-color5 { -fx-pie-color: #1abc9c; }
